.sublink.mat-list-item {
    margin-top:0 !important;
    margin-bottom: 0 !important;
}

.mat-list-item-content{
    text-align: left !important;
    
}
.mat-drawer-inner-container {
    overflow-y: auto;
	overflow-x: hidden !important;

}