
$primary-dark:#1b96f1;
$primary-light:#91EAE4;
$color-white:#f7f7f7;
$color-black:#000;
$white:#fff;
$red:#ff0000;
$color-light-grey:#eee;
$color-blue:#4C44BA;
$color-pink:#FB20DE;
$color-light-pink:#e38cff;
$green:#00ff00;
$color-dark-green:#24E8E1;
//FONT
$default-font-size: 1.6rem;
